@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 214 32% 98%;
  --foreground: 222 47% 11%;

  --card: 230 35% 12%;
  --card-foreground: 210 40% 98%;

  --border: 230 20% 35%;

  --primary: 243 75% 58%;
  --primary-foreground: 210 40% 98%;

  --secondary: 210 40% 96%;
  --secondary-foreground: 222 47% 11%;

  --muted: 223 25% 20%;
  --muted-foreground: 215 20% 75%;

  --accent: 221 83% 58%;
  --accent-foreground: 210 40% 98%;

  --ring: 243 75% 58%;
  --radius: 0.7rem;
}

.dark {
  --background: 230 35% 8%;
  --foreground: 210 40% 98%;

  --card: 230 35% 12%;
  --card-foreground: 210 40% 98%;

  --border: 225 20% 25%;

  --primary: 243 75% 70%;
  --primary-foreground: 230 35% 8%;

  --secondary: 225 20% 16%;
  --secondary-foreground: 210 40% 98%;

  --muted: 223 25% 20%;
  --muted-foreground: 215 20% 75%;

  --accent: 221 83% 66%;
  --accent-foreground: 230 35% 8%;

  --ring: 243 75% 70%;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground antialiased;
  }
}

.card-surface {
  @apply rounded-xl border border-border bg-card text-card-foreground shadow-xl p-8 backdrop-blur-xl;
}

.gradient-title {
  @apply bg-clip-text text-transparent bg-gradient-to-r 
  from-indigo-400 via-purple-400 to-pink-400;
}
